*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 64.5%;
}
body{
    font-size: 1.6rem;
}
.container{
    height: 100vh;
    background-color: #ededfc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 55vh;
    width: 20vw;
    background-color: white;
    border-radius: 10px;
    padding: 2.5em;
    box-shadow: 1px 1px 7px 2px rgba(152, 152, 152, 0.283);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.para-lines{
    letter-spacing: 0.8px;
    opacity: 0.83;
    margin-bottom: 1.5rem;
}
.process{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.process-num{
    font-size: larger;
    padding-right: 0.7em;
}
.process-pro{
    width: 13vw;
    height: 1vh;
    border-radius: 15px;
    background-color: #ededfc;
    position: relative;
}
.process-pro::before{
    content: "";
    position: absolute;
    width: 4vw;
    height: 1vh;
    border-radius: 15px;
    background-color: black;
}
.input{
    margin: 2rem 0;
}
.input-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.7em 0;
}
.input-content{
    height: 23px;
    width: 23px;
    margin-right: 1em;
}
.skip{
    opacity: 0.5;
}